src/main/mule/employee-main.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c5b583d5-c0bb-4208-89aa-88be68952e62" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="employee-main-main">
		
		<http:listener
			config-ref="employee-main-httpListenerConfig" path="/api/*">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:body ><![CDATA[#[output plain/text
---
payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		
		<apikit:router config-ref="employee-main-config" />
		
		<error-handler>
			<on-error-propagate type="APIKIT:BAD_REQUEST">
				<ee:transform
					xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">400
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform
					xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate
				type="APIKIT:METHOD_NOT_ALLOWED">
				<ee:transform
					xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">405
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
				<ee:transform
					xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">406
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate
				type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
				<ee:transform
					xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">415
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
				<ee:transform
					xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">501
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="employee-main-console">
		<http:listener
			config-ref="employee-main-httpListenerConfig" path="/console/*">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console config-ref="employee-main-config" />
		<error-handler>
			<on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform
					xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="post:\employee:application\json:employee-main-config">
		<ee:transform
			xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
			xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="response">
			<ee:message>
				<ee:set-payload><![CDATA["\"Jan Doe was created successfully. (Employee ID: A007)\""
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="employee-mainSub_Flow_Question_2" doc:id="d375fddc-cfe1-4d53-958e-2e7a73da1d89" >
		<http:listener doc:name="Listener" doc:id="3781b5d9-24a8-4a60-b619-56121b4c2e70" config-ref="HTTP_Listener_config" path="/subflow"/>
		<ee:transform doc:name="Transform Message" doc:id="7a061332-dba4-474a-8d6b-4b489fc2d199">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
lookup('post:\employee:application\json:employee-main-config','')]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="sub flow" doc:id="71305c9b-204c-4639-a372-3a02beadb0b2" message="#[payload]" category="SUB_FLOW_MSG" />
	</flow>
	<flow name="employee-mainFlow-question-3" doc:id="cd225884-a3f1-4942-bb76-1a7dd5380145">
		<http:listener doc:name="Listener" doc:id="96f78d28-5a27-4fbf-a44b-05293ecdba65" config-ref="HTTP_Listener_config" path="camelCase" />
		<ee:transform doc:name="Transform Message" doc:id="1c533b38-9c6a-4d5c-b018-f45e7fb4e37e">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
import java!Test::utilities
---
utilities::toCamelCase("ramakrishnavajrala")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ef2ef122-e320-4810-bc3b-2d7a3bca98dd" message="#[payload]" />
	</flow>
	<flow name="employee-mainFlow_4.1" doc:id="55ec4ee8-84c8-4e8d-9eda-e6d0db7079a2" >
		<ee:transform doc:name="Output1" doc:id="f9d0499f-f1ca-4e07-95f5-94e68fbf6ec5" >
			<ee:message >
				<ee:set-payload resource="dwl/merge-input1-input2.dwl" />
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="employee-mainFlow_4.2" doc:id="12792d8e-92e5-4112-b103-8d63ab31f590" >
		<ee:transform doc:name="Output1" doc:id="edc472a8-eb57-443c-8dce-a84e14d46797" >
			<ee:message >
				<ee:set-payload resource="dwl/merge-input1-input2_4.2.dwl" />
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="employee-mainFlow-list-all-natural-numbers" doc:id="b599b388-2578-4238-8acd-c309d44d30e4" >
		<http:listener doc:name="Listener" doc:id="d09a7527-acba-44db-8e58-3e6826129147" config-ref="HTTP_Listener_config" path="/list/{myNumber}"/>
		<set-variable value="#[attributes.uriParams.'myNumber' as Number]" doc:name="Set myNumber" doc:id="62721fb1-2cb1-4ec5-a01e-f0b86ef1e847" variableName="myNumber"/>
		<ee:transform doc:name="list-natural-numbers" doc:id="5dfc7365-7896-4751-a03c-2f0db2d74fd0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0 
output application/json
fun prepareList(list, maxSize) = if(sizeOf(list) >= maxSize )
list
else
prepareList(list ++ [(sizeOf(list) + 1) as Number],maxSize)
---
prepareList([],vars.myNumber)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
